:root {
    --primary-color: rgb(0, 0, 0);
    --white-color: #fff;
    --menu-color: rgba(73, 20, 39, 0.25);
    --purple-color: #BDB5D5;
    --light-gray-color: #EEEEEE;
    --secondary-color: #4B0082;
    --gap: 3rem;
}
